<template>
  <div class="container1">
    <header class="">
      <h3>{{ content }}</h3>
    </header>

    <nav>
      <router-link class="btn btn-primary" to="/foodManagement/list"
        >List</router-link
      >
      <router-link class="btn btn-primary" to="/foodManagement/add"
        >Add</router-link
      >
      <router-link class="btn btn-primary" to="/foodManagement/search"
        >Search</router-link
      >
    </nav>

    <br />
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-item: center;

  .btn-primary {
    margin: 0 10px;
    width: 100px;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    transition: all 0.3s;

    &:hover {
      background-color: #1a6153;
      transition: all 0.3s;
    }
  }
}
</style>
<script>
export default {
  name: "food-management",
  data() {
    return {
      content: "Board Foods",
    };
  },
};
</script>
