<template>
  <div v-if="!updateForm" class="row">
    <div class="col-md-6">
      <h4>Users List</h4>
      <ul v-for="(user, index) in users" :key="index">
        <li><span>ID : </span> {{ user._id }}</li>
        <li><span>Email : </span> {{ user.email }}</li>
        <li><span>Phone : </span>{{ user.phone }}</li>
        <li><span>Address : </span>{{ user.address }}</li>
        <li>
          <div class="row1">
            <button class="btn btn-info" v-on:click="openFormUpdate(user._id)">
              Update
            </button>
            <button class="btn btn-danger" v-on:click="deleteUser(user._id)">
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <router-view @refreshData="refreshList"></router-view>
    </div>
  </div>

  <div v-else>
    <div class="submitform">
      Update User
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          v-model="singleUser.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="price">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          required
          v-model="singleUser.phone"
          name="phone"
        />
      </div>

      <div class="form-group">
        <label for="description">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          required
          v-model="singleUser.address"
          name="address"
        />
      </div>

      <button class="button" v-if="updateForm == true" v-on:click="updateUser">
        Update User
      </button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "user-list",
  data() {
    return {
      idUserUpdate: "",
      updateForm: false,
      singleUser: {},
      users: [],
    };
  },
  methods: {
    /* eslint-disable no-console */
    retrieveUsers() {
      axios
        .get("http://localhost:8080/api/access/users",{headers: authHeader()})
        .then((response) => {
          this.users = response.data.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    openFormUpdate(idUser) {
      this.updateForm = true;
      axios
        .get("http://localhost:8080/api/access/user/" + idUser,{headers: authHeader()})
        .then((response) => {
          this.singleUser = response.data.data;
          this.idUserUpdate = idUser;
          console.log(this.singleUser);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    updateUser() {
      var data = {
        name: this.singleUser.name,
        phone: this.singleUser.phone,
        address: this.singleUser.address,
      };
      axios
        .put(
          "http://localhost:8080/api/access/user:update/" +
            this.idUserUpdate,
          data,
          {headers: authHeader()}
        )
        .then((response) => {
          console.log("User Updated : " + response.data.data);
          alert("Update User Successfuly");
          this.updateForm = false;
          this.retrieveUsers();
        })
        .catch((e) => {
          console.log(e);
        });
      this.$forceUpdate();
    },

    deleteUser(idUser) {
      axios
        .delete(
          "http://localhost:8080/api/access/user:delete/" + idUser,{headers: authHeader()}
        )
        .then((response) => {
          alert('Delete User Success');
          window.console.log(response.data.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
    },

    refreshList() {
      this.retrieveUsers();
    },
    /* eslint-enable no-console */
  },
  mounted() {
    this.retrieveUsers();
  },
};
</script>

<style lang="scss" scoped>
.col-md-6 {
  display: block;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-content: center;
}

ul {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  position: relative;
  li {
    display: flex;
    span {
      width: 100px;
      margin-right: 100px;
      font-weight: 600;
    }
  }
  .row1 {
    position: absolute;
    right: 0;
    top: 10px;
    // width: 100%;
    // text-align: center;
    // display: flex;
    // justify-content: center;
    button {
      margin: 0 10px;
    }
  }
}
</style>
