<template>
  <div class="container1">
    <header class="">
      <h3>{{ content }}</h3>
    </header>

    <nav>
      <router-link class="btn" to="/orderManagement/list">List</router-link>
    </nav>
    <br />
    <router-view />
  </div>
</template>

<script>
export default {
  name: "order-management",
  data() {
    return {
      content: "Board Order",
    };
  },
};
</script>
<style lang="scss" scoped>
.btn {
  padding: 10px 20px;
  margin-left: 20px;
  background-color: #1abc9c;
}
nav{
  position: absolute;
  top: 120px;
  left: 350px;
}
</style>
