<template>
  <div class="container1">
    <header class="">
      <h3>{{ content }}</h3>
    </header>

    <nav>
      <router-link class="btn btn-warning" to="/userManagement/list"
        >List</router-link
      >
    </nav>
    <hr />
    <router-view />
  </div>
</template>

<script>
export default {
  name: "user-management",
  data() {
    return {
      content: "Board Users",
    };
  },
};
</script>
<style lang="scss">
.jumbotron {
  background-color: #fff;
}
</style>
