<template>
  <div class="container1">
    <header class="header">
      <h3>{{ content }}</h3>
    </header>

    <hr />

    <nav>
      <router-link class="btn btn-primary" to="/categoryManagement"
        >Categories</router-link
      >
      <router-link class="btn btn-primary" to="/foodManagement"
        >Foods</router-link
      >
      <router-link class="btn btn-primary" to="/userManagement"
        >Users</router-link
      >
      <router-link class="btn btn-primary" to="/orderManagement"
        >Order</router-link
      >
    </nav>
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
nav {
  display: flex;
  justify-content: center;
  align-item: center;

  .btn-primary {
    margin: 0 10px;
    width: 100px;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
    transition: all 0.3s;

    &:hover {
      background-color: #1a6153;
      transition: all 0.3s;
    }
  }
}
</style>
<script>
// import UserService from '../services/user.service';

export default {
  name: "user",
  data() {
    return {
      content: "Board Admin",
    };
  },

  // mounted() {
  //   UserService.getAdminBoard().then(
  //     response => {
  //       this.content = response.data;
  //     },
  //     error => {
  //       this.content = error.response.data.message;
  //     }
  //   );
  // }
};
</script>

<style scoped>
.header {
  font-size: 30px;
  font-style: bold;
  text-align: center;
}
</style>
