<template>
  <div class="container1">
    <header class="custom_home">
      <h3>{{ content }}</h3>
    </header>
  </div>
</template>

<script>
import UserServiceRestAPI from "../services/user.service";
export default {
  name: "Home",
  // TODO : Data
  data() {
    return {
      content: "",
    };
  },

  // TODO : Mounted when load component
  mounted() {
    UserServiceRestAPI.getPublicContent().then(
      (response) => {
        this.content = response.data;
      },
      (error) => {
        this.content = error.response.data.message;
      }
    );
  },
};
</script>

<style lang="scss" scoped>
.custom_home {
  margin: 0;
  padding: 0;
  height: 500px;
  background: url("../assets/banner_food.jpg");
}
</style>
