<template>
  <div class="container1">
    <header class=""></header>
    <div class="qr-card">
      <qrcode-vue :value="dataQR" :size="size"></qrcode-vue>
    </div>
  </div>
</template>

<script>
import QrcodeVue from "qrcode.vue";
export default {
  name: "LoginQR",
  data() {
    return {
      dataQR: "Foodbooking",
      size: 200,
    };
  },
  components: {
    QrcodeVue,
  },
};
</script>

<style scoped>
.jumbotron {
  align-content: center;
}
.qr-card {
  -moz-box-direction: reverse;
  padding-top: 150px;
}
.container1 {
  display: flex;
  justify-content: center;
  align-item: center;
  height: 600px;
}
</style>
