<template>
  <div class="col-md-12 custom_login">
    <div class="card card-container">
      <h3>Login</h3>
      <form name="form" @submit.prevent="handleLogin">
        <div class="form-group">
          <label>Username: </label>
          <input
            placeholder="Username"
            type="text"
            class="form-control"
            name="username"
            v-model="user.username"
            v-validate="'required'"
          />
          <div
            class="alert alert-danger"
            role="alert"
            v-if="errors.has('username')"
          >
            Username is required!
          </div>
        </div>

        <div class="form-group">
          <label>Password: </label>
          <input
            placeholder="Password"
            type="password"
            class="form-control"
            name="password"
            v-model="user.password"
            v-validate="'required'"
          />
          <div
            class="alert alert-danger"
            role="alert"
            v-if="errors.has('password')"
          >
            Password is required!
          </div>
        </div>

        <div class="khanh-login">
          <button class="btn " :disabled="loading">
            <span
              class="spinner-border spinner-border-sm"
              v-show="loading"
            ></span>
            Login
          </button>
        </div>

        <div class="form-group">
          <div class="alert alert-danger" role="alert" v-if="message">
            {{ message }}
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import UserLogin from "../models/userLogin";

export default {
  name: "login",
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  data() {
    return {
      user: new UserLogin("", ""),
      loading: false,
      message: "",
    };
  },
  // mounted() {
  //   if (this.loggedIn) {
  //     this.$router.push("/profile");
  //   }
  // },
  created() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      this.$validator.validateAll().then((isValid) => {
        if (!isValid) {
          this.loading = false;
          return;
        }
      });
      // if (this.errors.any()) {
      //   this.loading = false;
      //   return;
      // }

      if (this.user.username && this.user.password) {
        this.$store.dispatch("auth/login", this.user).then(
          () => {
            let user = JSON.stringify(this.$store.state.auth.user);
            localStorage.setItem("user", user);
            this.$router.push("/admin");
          },
          (error) => {
            this.loading = false;
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString();
          }
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.custom_login {
  margin: 0;
  padding: 0;
}
label {
  display: block;
  margin-top: 10px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.form-group {
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  input {
    width: 69%;
    border: none;
    outline: none;
    background: none;
    color: black;
    border-bottom: 1px solid #8a6969;
    &::placeholder {
      color: #333;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
}
form {
  width: 600px !important;
  margin: auto;
}
.card-container {
  // background: url("../assets/banner2.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  
  text-align: center;
  margin: 0;
  padding: 150px 100px 200px 100px;
}
.khanh-login{
  width: 100%;
  display: flex;
  justify-content: center;
  .btn{
    color: white;
    padding: 10px 40px;
    border-radius: 0%;
    border: 2px solid #333;
    background-color: rgb(0, 96, 191);
  }
}
h3{
  padding-bottom: 20px;
}
</style>
