<template>
  <div class="template">
    <div class="container">
    <div class="card card-container">
      <h3>
        <strong>{{ currentUser.email }}</strong>
      </h3>
      <p>
        <strong>Token:</strong>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Admin:</strong>
      {{currentUser.isAdmin}}
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: "profile",

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 150px 150px 200px;
}

.card-container {
  background-color: antiquewhite;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 50px 50px 50px;
}
.template{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
