<template>
  <div class="col-md-12 custom_login">
    <div class="card card-container">
      <h3>Register Admin</h3>
      <form name="form" @submit.prevent="handleRegister">
        <div v-if="!successful">
          <div class="form-group">
            <label for="name">Name:</label>
            <input
              placeholder="Vui lòng nhập tên của bạn"
              type="text"
              class="form-control"
              name="name"
              v-model="user.name"
              v-validate="'required|min:3|max:50'"
            />
            <div class="alert-danger" v-if="submitted && errors.has('name')">
              {{ errors.first("name") }}
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input
              placeholder="Vui lòng nhập địa chỉ email"
              type="email"
              class="form-control"
              name="email"
              v-model="user.email"
              v-validate="'required|email|max:50'"
            />
            <div class="alert-danger" v-if="submitted && errors.has('email')">
              {{ errors.first("email") }}
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input
              placeholder="Nhập mật khẩu của bạn "
              type="password"
              class="form-control"
              name="password"
              v-model="user.password"
              v-validate="'required|min:3|max:20'"
            />
            <div
              class="alert-danger"
              v-if="submitted && errors.has('password')"
            >
              {{ errors.first("password") }}
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Phone:</label>
            <input
              placeholder="Nhập số điện thoại của bạn"
              type="text"
              class="form-control"
              name="phone"
              v-model="user.phone"
              v-validate="'required|min:6|max:40'"
            />
            <div class="alert-danger" v-if="submitted && errors.has('phone')">
              {{ errors.first("phone") }}
            </div>
          </div>

          <div class="form-group">
            <label for="address">Address: </label>
            <input
              placeholder="Địa chỉ của bạn"
              type="text"
              class="form-control"
              name="address"
              v-model="user.address"
              v-validate="'required|min:6|max:40'"
            />
            <div class="alert-danger" v-if="submitted && errors.has('address')">
              {{ errors.first("address") }}
            </div>
          </div>

          <div class="khanh-login">
            <button class="btn">Sign Up</button>
          </div>
        </div>
      </form>

      <div
        class="alert"
        :class="successful ? 'alert-success' : 'alert-danger'"
        v-if="message"
      >
        {{ message }}
      </div>
    </div>
  </div>
</template>

<script>
// import UserRegister from '../models/userRegister';

export default {
  name: "register",

  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },

  data() {
    return {
      // user: new UserRegister('','','','',''),
      user: {
        name: "",
        email: "",
        password: "",
        phone: "",
        address: "",
      },
      submitted: false,
      successful: false,
      message: "",
    };
  },

  mounted() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },

  methods: {
    handleRegister() {
      this.message = "";
      this.submitted = true;
      this.$validator.validate().then((valid) => {
        if (valid) {
          this.$store.dispatch("auth/register", this.user).then(
            (data) => {
              this.message = data.message;
              this.successful = true;
              this.$router.push("/profile");
            },
            (error) => {
              this.message = error.message;
              this.successful = false;
            }
          );
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.custom_login {
  margin: 0;
  padding: 0;
}
label {
  display: block;
  margin-top: 10px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.form-group {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  input {
    width: 300px;
    border: none;
    outline: none;
    background: none;
    color: black;
    border-bottom: 1px solid #8a6969;
    &::placeholder {
      color: #333;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
}
form {
  width: 400px !important;
  margin: auto;
}
.card-container {
  // background: url("../assets/banner2.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-item: center;
  text-align: center;
  margin: 0;
  padding: 50px 100px 100px 100px;
}
.khanh-login{
  width: 100%;
  display: flex;
  justify-content: center;
  .btn{
    color: white;
    padding: 10px 40px;
    border-radius: 0%;
    border: 2px solid #333;
    background-color: rgb(0, 96, 191);
  }
}

h3{
  padding-bottom: 20px;
  
}
</style>
