<template>
  <div class="container">
    <div class="submitform">
      <div v-if="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            v-model="food.name"
            name="name"
          />
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            required
            v-model="food.price"
            name="price"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            required
            v-model="food.description"
            name="description"
          />
        </div>

        <!--<<<<<<<<<<<< Upload Image to Firebase >>>>>>>>>>>>-->
        <div>
          <div>
            <p>Upload an image to Firebase:</p>
            <input type="file" @change="previewImage" accept="image/*" />
          </div>
          <div>
            <p>
              Progress: {{ uploadValue.toFixed() + "%" }}
              <progress id="progress" :value="uploadValue" max="100"></progress>
            </p>
          </div>
          <div v-if="imageData != null">
            <img class="preview" :src="picture" />
            <br />
          </div>
          <button v-if="imageData != null" @click="onUpload">Upload</button>
        </div>
        <!--<<<<<<<<<<<< Upload Image to Firebase >>>>>>>>>>>>-->

        <button
          v-if="enableSubmit == true"
          v-on:click="saveFood"
          class="btn btn-success"
        >
          Submit
        </button>
      </div>
      <div v-else>
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" v-on:click="newCustomer">Add</button>
      </div>
    </div>
  </div>
</template>

<script>
import http from "../http-common";
import firebase from "firebase";

export default {
  name: "Upload",
  data() {
    return {
      // Upload data
      imageData: null,
      picture: null,
      uploadValue: 0,

      // Food Data
      food: {
        categoryId: "5e873eb5090e7e1c2571571c",
        name: "",
        price: 0,
        description: "",
        pathImage: "",
        available: true,
      },
      enableSubmit: false,
      submitted: false,
    };
  },

  methods: {
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
    },

    onUpload() {
      this.picture = null;
      const storageRef = firebase
        .storage()
        .ref(`${this.imageData.name}`)
        .put(this.imageData);
      storageRef.on(
        `state_changed`,
        (snapshot) => {
          this.uploadValue =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        },
        (error) => {
          alert(error.message);
        },
        () => {
          this.uploadValue = 100;
          storageRef.snapshot.ref.getDownloadURL().then((url) => {
            this.picture = url;
            this.food.pathImage = url;
            window.console.log("pathImage" + this.food.pathImage);
            this.enableSubmit = true;
          });
        }
      );
    }, // end method upload

    async saveFood() {
      var data = {
        categoryId: this.food.categoryId,
        name: this.food.name,
        price: this.food.price,
        description: this.food.description,
        pathImage: this.food.pathImage,
        available: this.food.available,
      };

      http
        .post("/food:create", data)
        .then((response) => {
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
      this.submitted = true;
    }, // end method saveFood
  },
};
</script>

<style scoped="">
img.preview {
  width: 500px;
}
</style>
