<template>
  <div v-if="this.order" class="food-list">
    <h4>Order Detail</h4>
    <div class="row">
      <ul>
        <div class="khanh">
          <li v-for="(detail, index) in ordersDataDisplay" :key="index">
            <div class="img">
              <img class="preview" :src="detail.food.pathImage" />
            </div>
            <div class="food">
              {{ detail.food.name }} : {{ detail.quantity }}
            </div>
          </li>
        </div>
        <div class="infor-user">
          <span>Infor User</span>
          <div class="name">Name : {{ this.userInfo.name }}</div>
          <div class="address">Address : {{ this.userInfo.address }}</div>
          <div class="phone">Phone : {{ this.userInfo.phone }}</div>
          <div class="phone">Time Order : {{ this.order.timeOrder }}</div>
        </div>
      </ul>
    </div>
  </div>
  <div v-else>
    <br />
    <p>Select Item you want to show</p>
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "order",
  props: ["order"],
  data() {
    return {
      ordersDataDisplay: [],
      userInfo: null,
    };
  },

  methods: {
    fetchDetail() {
      axios
        .get(
          "http://localhost:8080/api/access/order:fetchDetail/" +
            this.order._id,
            {headers: authHeader()}
        )
        .then((response) => {
          this.ordersDataDisplay = response.data.data;
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
      axios
        .get(
          "http://localhost:8080/api/access/user/" + this.order.userId,{headers: authHeader()}
        )
        .then((response) => {
          this.userInfo = response.data.data;
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
    },
  },

  mounted() {
    this.fetchDetail();
  },
};
</script>

<style lang="scss" scoped>
.label {
  font-style: italic;
}

.img {
  display: flex;
  justify-content: center;
}
.list {
  text-align: left;
  max-width: 450px;
  margin: auto;
}
.food-list {
  margin-top: 20px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-weight: bold;

  .form-group {
    display: flex;
    justify-content: space-between;
    input {
      border: none;
      border-bottom: 1px dashed #ccc;
      width: 600px;
    }
  }
  span {
    font-weight: bold;
    margin-right: 20px;
  }
  .status {
    display: flex;
  }
}

.list-food {
  height: 600px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px !important;
  li {
    padding: 10px;
    border-bottom: 1px dashed #ccc;
  }
}
ul{
  list-style: none;
  padding: initial;
  padding: 10px 0px;
}
.khanh{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 li{
   width:31%;
    border: 1px dashed #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  margin: 10px 10px;
  .img{
    
    margin: auto;
    img{
      width: 100%;
    }
  }
 }
}
.infor-user{
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  border-top: 1px dashed #333;
}
ul{
  width: 100%;
}
</style>
