<template>
  <div class=" row">
    <div class="col-4">
      <div class="list-option">
      <ul class="list-food">
        <li id="element" v-for="(order, index) in orders" :key="index">
          <router-link
            :to="{
              name: 'order-details',
              params: { order: order, id: order._id },
            }"
          >
            {{ order._id }}
          </router-link>
        </li>
      </ul>
    </div>
    </div>

    <div class="col-8">
      <router-view @refreshData="refreshList"></router-view>
    </div>
    
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "order-list",
  data() {
    return {
      orders: [],
    };
  },

  methods: {
    fetchListOrder() {
      axios
        .get("http://localhost:8080/api/access/order:fetchList",{headers: authHeader()})
        .then((response) => {
          this.orders = response.data.data;
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
    },
  },

  mounted() {
    this.fetchListOrder();
  },
};
</script>


<style lang="scss" scoped>
img.preview {
  width: auto;
}

.row {
  padding: 30px;
  ul {
    list-style: none;
  }
}
.list-option {    
  display: flex;
  h4 {
    font-size: 20px;
  }
  select {
    margin-left: 30px;
    width: 200px;
    &:focus {
      outline: none;
    }
  }
  ul {
    padding: initial;
    padding: 0;
    width: 100%;
  }
}
.list-food {
  width: 100%;
  height: 600px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px !important;
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
}

#element{
a{
  color: #333;
}
}

router-link{
  color: antiquewhite;
}
</style>
