<template>
  <div class="container">
    <div class="submitform">
      <div v-if="!submitted">
        <div class="form-group">
          <label for="name">Name : </label>
          <input
            placeholder="Name"
            type="text"
            class="form-control"
            id="name"
            required
            v-model="category.name"
            name="name"
          />
        </div>
        <!--<<<<<<<<<<<< Upload Image to Firebase >>>>>>>>>>>>-->
        <div class="form-update-image">
          <div>
            <p>Upload an image for Category to Firebase:</p>
            <input
              class="input-file"
              type="file"
              @change="previewImage"
              accept="image/*"
            />
          </div>
          <div class="Progress">
            <p>
              Progress: {{ uploadValue.toFixed() + "%" }}
              <progress
                class="progress"
                id="progress"
                :value="uploadValue"
                max="100"
              ></progress>
            </p>
          </div>
          <div v-if="imageData != null">
            <img class="preview" :src="picture" />
            <br />
          </div>
          <button class="update" v-if="imageData != null" @click="onUpload">
            Upload
          </button>
        </div>
        <!--<<<<<<<<<<<< Upload Image to Firebase >>>>>>>>>>>>-->

        <button
          v-if="enableSubmit == true"
          v-on:click="saveCategory"
          class="btn btn-success"
        >
          Submit
        </button>
      </div>
      <div v-else>
        <h4>You submitted successfully!</h4>
        <!-- <button class="btn btn-success" v-on:click="newCustomer">Add</button> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import firebase from "firebase";
import authHeader from '../../../services/auth-header';
export default {
  name: "Category",
  data() {
    return {
      // Upload data
      imageData: null,
      picture: null,
      uploadValue: 0,

      // Category Data
      category: {
        name: "",
        pathImage: "",
      },
      enableSubmit: false,
      submitted: false,
    };
  },

  methods: {
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
    },

    onUpload() {
      this.picture = null;
      const storageRef = firebase
        .storage()
        .ref("Category/" + `${this.imageData.name}`)
        .put(this.imageData);
      storageRef.on(
        `state_changed`,
        (snapshot) => {
          this.uploadValue =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        },
        (error) => {
          alert(error.message);
        },
        () => {
          this.uploadValue = 100;
          storageRef.snapshot.ref.getDownloadURL().then((url) => {
            this.picture = url;
            this.category.pathImage = url;
            window.console.log("pathImage" + this.category.pathImage);
            this.enableSubmit = true;
          });
        }
      );
    }, // end method upload

    async saveCategory() {
      var data = {
        name: this.category.name,
        pathImage: this.category.pathImage,
      };

      axios
        .post("http://localhost:8080/api/access/category:create", data, {headers: authHeader()})
        .then((response) => {
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
      this.submitted = true;
    }, // end method saveCategory
  },
};
</script>

<style lang="scss" scoped>
img.preview {
  width: 500px;
}
.container {
  .submitform {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .form-group {
      display: flex;
      // justify-content: center;
      align-item: center;
      input {
        margin-left: 20px;
        width: 500px;
        border: none;
        border-bottom: 1px solid #ccc;
      }
    }
    .form-update-image {
      .input-file {
        border: none;
        width: 300px;
      }
      margin-bottom: 20px;
    }
    .Progress {
      p {
        font-weight: 600;
        display: flex;
        align-item: center;
        line-height: 80px;
        .progress {
          vertical-align: baseline !important;
          margin-top: 33px;
          margin-left: 30px;
          width: 500px;
        }
      }
    }
    button {
      border: none;
      background-color: #1abc9c;
      padding: 10px 35px;
      border-radius: 10px;
      transition: all 0.3s;

      &:hover {
        background-color: #1a6153;
        transition: all 0.3s;
      }
    }
    .update {
      text-align: center;
    }
  }
}
</style>
