<template>
  <div class="searchform">
    <div class="search-header">
      <div class="form-group">
        <input
          placeholder="Search Category By Name"
          type="text"
          class="form-control"
          id="nameCategory"
          required
          v-model="nameCategory"
          name="nameCategory"
        />
      </div>

      <div class="btn-group">
        <button v-on:click="searchCategory" class="button-search">
          <span>Search Category</span>
        </button>
      </div>
    </div>

    <div class="list-child">
      <ul v-for="(cate, index) in categories" :key="index">
        <li><span>ID : </span>{{ cate._id }}</li>
        <li><span>Name : </span>{{ cate.name }}</li>
        <li>
          <div class="img">
            <img class="preview" :src="cate.pathImage" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "search-category",
  data() {
    return {
      nameCategory: "",
      categories: [],
    };
  },
  methods: {
    /* eslint-disable no-console */
    searchCategory() {
      axios
        .get("http://localhost:8080/api/access/category:searchByName", {
          params: {
            name: this.nameCategory,
          },
          headers: authHeader()
        })
        .then((response) => {
          this.categories = response.data.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    /* eslint-enable no-console */
  },
};
</script>

<style lang="scss" scoped>
.list-child {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 236, 236);

  ul {
    width: 23%;
    margin: 20px 1%;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    // align-item: center;
    // justify-content: center;
    text-align: center;
    li {
      text-align: start;
      img {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      &:first-child {
        color: #333;
        text-transform: uppercase;
      }
    }
  }
  span {
    font-weight: bold;
  }
}
.search-header {
  margin-bottom: 50px;
  display: flex;
  align-item: center;
  h4 {
    font-size: 20px;
  }
  input {
    border: none;
    border-bottom: 1px solid #333;
    padding: 0;
    margin: 0 20px;
  }
  .btn-group {
    margin-left: 40px;
    .button-search {
      border: none;
      border-radius: 10px;
      padding: none;
      background-color: #1abc9c;
      &:focus {
        border: none;
        outline: none;
      }
      &:hover {
        background-color: #1a6153;
      }
    }
  }
}
</style>
