<template>
  <div>
    <div class="row">
      <h4>Categories List</h4>
      <div class="list-child">
        <ul v-for="(category, index) in categories" :key="index">
          <li><span>Name : </span>{{ category.name }}</li>
          <li><span>ID : </span>{{ category._id }}</li>
          <li>
            <div class="img">
              <img class="preview" :src="category.pathImage" />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <router-view @refreshData="refreshList"></router-view>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "category-list",
  data() {
    return {
      categories: [],
    };
  },
  methods: {
    /* eslint-disable no-console */
    retrieveCategories() {
      axios
        .get("http://localhost:8080/api/access/categorys", {headers: authHeader()})
        .then((response) => {
          this.categories = response.data.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveCategories();
    },
    /* eslint-enable no-console */
  },
  mounted() {
    this.retrieveCategories();
  },
};
</script>
<style lang="scss" scoped>
.list-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 236, 236);

  ul {
    width: 23%;
    margin: 20px 1%;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    // align-item: center;
    // justify-content: center;
    text-align: center;
    li {
      text-align: start;
      img {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      &:first-child {
        color: #333;
        text-transform: uppercase;
      }
    }
  }
}
img.preview {
  width: 200px !important;
  margin: auto;
}
.row {
  margin: 0;
  padding: 0;
  h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
}
span {
  font-weight: bold;
}
</style>
