<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">
        <img class="logo" src="./assets/logo2.png" />
      </a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link
            to="/home"
            class="nav-link"
            style="{background-color: none !important}"
          >
            <font-awesome-icon icon="home" />
            <span style="{margin-left:10px; color: white;}"> Home </span>
          </router-link>
        </li>

        
        <li class="nav-item" v-if="currentUser">
          <router-link to="/admin" class="nav-link">
            <font-awesome-icon icon="code" /><span
              style="{margin-left:20px; color:white;}"
            >Adminstration
            </span>
          </router-link>
        </li>
      </div>

      <div class="navbar-nav ml-auto" v-if="!currentUser">
        <li class="nav-item">
          <router-link to="/register" class="nav-link">
            <font-awesome-icon icon="user-plus" /><span
              style="{margin-left:20px;color: white;}"
            >
              Sign up
            </span>
          </router-link>
        </li>

        <li class="nav-item">
          <router-link to="/login" class="nav-link">
            <font-awesome-icon icon="user" />
            <span style="{margin-left:10px;color: white;}"> Login </span>
          </router-link>
        </li>
      </div>

      <div class="navbar-nav ml-auto" v-if="currentUser">
        <li class="nav-item">
          <router-link to="/profile" class="nav-link">
            <font-awesome-icon icon="user" />
            <span style="{margin-left:20px;color: white;}">
              {{ currentUser.email }}
            </span>
          </router-link>
        </li>
        <li class="nav-item">
          <a href class="nav-link" @click="logOut">
            <font-awesome-icon icon="sign-out-alt" /><span
              style="{margin-left:20px;color: white;}"
            >
              LogOut
            </span>
          </a>
        </li>
      </div>
    </nav>

    <div class="container1">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },

    // showAdminBoard() {
    //   if (this.currentUser) {
    //     return this.currentUser.roles.includes("ROLE_ADMIN"); //true
    //   }
    //   return false;
    // },

    // showProjectManagerBoard() {
    //   if (this.currentUser) {
    //     return this.currentUser.roles.includes("ROLE_PM"); //true
    //   }
    //   return false;
    // }
  },

  methods: {
    logOut() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },
};
</script>

<style lang="scss" scoped>
.logo {
  height: 40px;
}
.navbar {
  background-color: #1abc9c !important;
}

.jumbotron {
  background-color: none !important;
}
.container1 {
  // background: url("./assets/banner_food.jpg") no-repeat center/cover;
  .container {
    width: 100%;
    padding: initial;
    margin: initial;
    .jumbotron {
      background-color: #fff !important;
    }
  }
}
</style>
<style lang="scss"></style>
