<template>
  <div class="container">
    <div class="">
      <div v-if="!submitted">
        <h5>Choose Category</h5>
        <select v-model="selected" required @change="check">
          <option value="none">Choose category</option>
          <option
            v-for="(item, index) in categories"
            :key="index"
            v-bind:value="{ id: item._id, name: item.name }"
            >{{ item.name }}</option
          >
        </select>

        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            v-model="food.name"
            name="name"
          />
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            required
            v-model="food.price"
            name="price"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            required
            v-model="food.description"
            name="description"
          />
        </div>

        <!--<<<<<<<<<<<< Upload Image to Firebase >>>>>>>>>>>>-->
        <div>
          <div>
            <p>Upload an image to Firebase:</p>
            <input type="file" @change="previewImage" accept="image/*" />
          </div>
          <div>
            <p>
              Progress: {{ uploadValue.toFixed() + "%" }}
              <progress id="progress" :value="uploadValue" max="100"></progress>
            </p>
          </div>
          <div v-if="imageData != null">
            <img class="preview" :src="picture" />
            <br />
          </div>
          <button class="button" v-if="imageData != null" @click="onUpload">
            Upload
          </button>
        </div>
        <!--<<<<<<<<<<<< Upload Image to Firebase >>>>>>>>>>>>-->

        <button
          class="button"
          v-if="enableSubmit == true"
          v-on:click="saveFood"
        >
          Submit
        </button>
      </div>
      <div v-else>
        <h4>You submitted successfully!</h4>
        <button type="submit" class="btn btn-info" v-on:click="newCustomer">
          Submit
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import firebase from "firebase";
import authHeader from '../../../services/auth-header';

export default {
  name: "Upload",
  data() {
    return {
      // Upload data
      imageData: null,
      picture: null,
      uploadValue: 0,

      categories: [],
      selected: null,
      // Food Data
      food: {
        categoryId: "",
        name: "",
        price: 0,
        description: "",
        pathImage: "",
        available: true,
      },
      enableSubmit: false,
      submitted: false,
    };
  },

  methods: {
    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
    },

    onUpload() {
      this.picture = null;
      const storageRef = firebase
        .storage()
        .ref("Food/" + `${this.imageData.name}`)
        .put(this.imageData);
      storageRef.on(
        `state_changed`,
        (snapshot) => {
          this.uploadValue =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
        },
        (error) => {
          alert(error.message);
        },
        () => {
          this.uploadValue = 100;
          storageRef.snapshot.ref.getDownloadURL().then((url) => {
            this.picture = url;
            this.food.pathImage = url;
            window.console.log("pathImage" + this.food.pathImage);
            this.enableSubmit = true;
          });
        }
      );
    }, // end method upload

    async fetchCategories() {
      axios
        .get("http://localhost:8080/api/access/categorys",{headers: authHeader()})
        .then((response) => {
          this.categories = response.data.data;
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
    },

    check() {
      alert(this.selected.id);
      window.console.log("Category Id selected : " + this.selected.id);
      this.food.categoryId = this.selected.id;
    },

    async saveFood() {
      var data = {
        categoryId: this.food.categoryId,
        name: this.food.name,
        price: this.food.price,
        description: this.food.description,
        pathImage: this.food.pathImage,
        available: this.food.available,
      };

      axios
        .post("http://localhost:8080/api/access/food:create", data,{headers: authHeader()})
        .then((response) => {
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
      this.submitted = true;
    }, // end method saveFood
  },

  mounted() {
    this.fetchCategories();
  },
};
</script>

<style scoped="scss">
img.preview {
  width: 500px;
}

.button {
  background: #2e9106;
  padding: 0.5rem 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 2px;
  border-bottom: 2px solid #2e9106;
  transition: 0.3s;
}
</style>
