<template>
  <div class="row">
    <div class="col-4">
      <div class="list-option">
        <h4>Category Filter :</h4>

        <select v-model="selected" required @change="filterByCategory">
          <option value="none">Choose category</option>
          <option
            v-for="(item, index) in categories"
            :key="index"
            v-bind:value="{ idCate: item._id, name: item.name }"
            >{{ item.name }}</option
          >
        </select>
      </div>

      <ul class="list-food">
        <li v-for="(food, index) in foods" :key="index">
          <router-link
            :to="{
              name: 'food-details',
              params: { food: food, id: food._id },
            }"
          >
            {{ food.name }}
          </router-link>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <router-view @refreshData="refreshList"></router-view>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "food-list",
  data() {
    return {
      selected: null,
      categories: [],
      foods: [],
    };
  },
  methods: {
    /* eslint-disable no-console */
    retrieveCategory() {
      axios
        .get("http://localhost:8080/api/access/categorys",{headers: authHeader()})
        .then((response) => {
          this.categories = response.data.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },

    filterByCategory() {
      axios
        .get(
          "http://localhost:8080/api/access/food:byCategory/" +
            this.selected.idCate,
            {headers: authHeader()}
        )
        .then((response) => {
          this.foods = response.data.data;
          console.log(this.foods);
          console.log("Category ID : " + this.selected.idCate);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    retrieveFoods() {
      axios
        .get("http://localhost:8080/api/access/foods",{headers: authHeader()})
        .then((response) => {
          this.foods = response.data.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveFoods();
    },
    /* eslint-enable no-console */
  },
  mounted() {
    this.retrieveCategory();
    this.retrieveFoods();
  },
};
</script>

<style lang="scss" scoped>
img.preview {
  width: auto;
}

.row {
  padding: 30px;
  ul {
    list-style: none;
  }
}
.list-option {
  display: flex;
  h4 {
    font-size: 20px;
  }
  select {
    margin-left: 30px;
    width: 200px;
    &:focus {
      outline: none;
    }
  }
  ul {
    padding: initial;
    padding: 0;
  }
}
.list-food {
  height: 600px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 20px !important;
  li {
    padding: 10px;
    border-bottom: 1px dashed #ccc;
  }
}
</style>
