<template>
  <div class="searchform">
    <div class="search-child">
      <div class="form-group">
        <input
          placeholder="Search food"
          type="text"
          class="form-control"
          id="nameFood"
          required
          v-model="nameFood"
          name="nameFood"
        />
      </div>

      <div class="btn-group">
        <button v-on:click="searchFood" class="btn btn-success">
          Search Food
        </button>
      </div>
    </div>
    <div class="list-food">
      <ul class="list-child" v-for="(item, index) in foods" :key="index">
        <li><span>ID : </span> ({{ item._id }})</li>
        <li><span>Name : </span>{{ item.name }}</li>
        <li>
          <img class="preview" :src="item.pathImage" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "search-food",
  data() {
    return {
      nameFood: "",
      foods: [],
    };
  },
  methods: {
    /* eslint-disable no-console */
    searchFood() {
      axios
        .get("http://localhost:8080/api/access/food:searchByName", {
          params: {
            name: this.nameFood,
          },
          headers: authHeader()
        })
        .then((response) => {
          this.foods = response.data.data; // JSON are parsed automatically.
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    /* eslint-enable no-console */
  },
};
</script>

<style lang="scss" scoped>
.search-child {
  display: flex;
  justify-content: start;
  .form-group {
    input {
      width: 300px;
      border: none;
      border-bottom: 1px solid #333;
    }
  }
  .btn-group {
    margin-left: 30px;
    button {
      padding: initial;
      margin: initial;
      padding: 0 20px;
    }
  }
}
.list-food {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  .list-child {
    padding: initial;
    margin: initial;
    list-style: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 23%;
    margin: 20px 1%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
    li {
      span {
        font-weight: bold;
      }
    }
    img {
      height: 150px;
      margin: auto;
    }
  }
}
</style>
