<template>
  <div v-if="this.food" class="food-list">
    <h4>Food Detail</h4>
    <div>
      <label><span>Food Name: </span>{{ this.food.name }}</label>

      <div class="img"><img class="preview" :src="this.food.pathImage" /></div>

      <div class="form-group">
        <span> Name: </span>
        <input
          placeholder="Name"
          type="text"
          class="form-control"
          id="name"
          required
          v-model="foodUpdateData.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <span>Price: </span>
        <input
          placeholder="Price"
          type="text"
          class="form-control"
          id="price"
          required
          v-model="foodUpdateData.price"
          name="name"
        />
      </div>

      <div class="form-group">
        <span>Description: </span>
        <input
          placeholder="Description"
          type="text"
          class="form-control"
          id="description"
          required
          v-model="foodUpdateData.description"
          name="name"
        />
      </div>

      <!-- <div class="status">
        <span>Status: </span>
        <p v-if="this.food.available" class="button is-small">Available</p>
        <p v-else class="button is-small btn-danger">UnAvailable</p>
      </div> -->
    </div>

    <button v-on:click="updateFood" class="btn btn-info">Update</button>
    <button v-on:click="deleteFood" class="btn btn-danger">Delete</button>

    <!-- <span class="button is-small btn-danger" v-on:click="deleteFood()">Delete Food</span> -->
  </div>
  <div v-else>
    <br />
    <p>Select Item you want to show</p>
  </div>
</template>

<script>
import axios from "axios";
import authHeader from '../../../services/auth-header';
export default {
  name: "food",
  props: ["food"],
  data() {
    return {
      foodUpdateData: {
        categoryId: "",
        name: "",
        description: "",
        price: 0,
        pathImage: "",
        available: true,
      },
    };
  },

  methods: {
    updateFood() {
      var data = {
        categoryId: this.food.categoryId,
        name: this.foodUpdateData.name,
        description: this.foodUpdateData.description,
        price: this.foodUpdateData.price,
        pathImage: this.food.pathImage,
        available: true,
      };
      axios
        .put(
          "http://localhost:8080/api/access/food:update/" +
            this.food._id,
          data,
          {headers: authHeader()}
        )
        .then((response) => {
          this.food.available = status;
          this.$emit("refreshData");
          alert('Status Updated : ' + response.data.data);
          window.console.log(response.data);
        })
        .catch((e) => {
          window.console.log(e);
        });
    },

    deleteFood() {
      axios
        .delete(
          "http://localhost:8080/api/access/food:delete/" +
            this.food._id,
            {headers: authHeader()}
        )
        .then((response) => {
          alert("Delete Food Success");
          window.console.log(response.data.data);
          this.$emit("refreshData");
          this.$router.push("/foodManagement/list");
        })
        .catch((e) => {
          window.console.log(e);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.label {
  font-style: italic;
}
img.preview {
  width: 250px !important;
  height: 250px !important;
  margin: auto;
}
.img {
  display: flex;
  justify-content: center;
}
.list {
  text-align: left;
  max-width: 450px;
  margin: auto;
}
.food-list {
  margin-top: 50px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 20px;

  .form-group {
    display: flex;
    justify-content: space-between;
    input {
      border: none;
      border-bottom: 1px solid #ccc;
      width: 600px;
    }
  }
  span {
    font-weight: bold;
    margin-right: 20px;
  }
  .status {
    display: flex;
  }
}
</style>
